SUPABASE_URL=https://mfwelltpotqlkxwkhdtg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1md2VsbHRwb3RxbGt4d2toZHRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyMDIyMTQsImV4cCI6MjEwNTc3ODIxNH0.AXbBsj_nYHBpnmznPiHYGY1nQ_0GD8LZusty1K-tAXc
